@model TaskInstance
@{
  ViewBag.Title = "Task Details";
}

<div class="text-light">
  <div class="card">
    <div data-sb-tag="@Model.Name" class="card-header bg-secondary text-light">
      <h3>Details - @Model.Name</h3>
    </div>
    <div class="card-body bg-dark text-light text-break">
      <dl class="row p-0 m-0">
        <dt class="col-sm-3">Start Date:</dt>
        <dd class="col-sm-9">@Model.StartDate</dd>
        <dt class="col-sm-3">End Date:</dt>
        <dd class="col-sm-9">@Model.EndDate</dd>
        <dt class="col-sm-3">Priority:</dt>
        <dd class="col-sm-9">@Model.Priority.Name</dd>
        <dt class="col-sm-3">Status:</dt>
        <dd class="col-sm-9">@Model.Status.Name</dd>
        <dt class="col-12">Description:</dt>
        <dd class="col-12">@Model.Description</dd>
        @if (Model.Sheep != null)
        {
          <dt class="col-sm-3">Assigned sheep:</dt>
          <dd class="col-sm-9">@Model.Sheep.TagNumber</dd>
        }
        @if (Model.Group != null)
        {
          <dt class="col-sm-3">Assigned Group:</dt>
          <dd class="col-sm-9">@Model.Group.Name</dd>
        }
      </dl>
    </div>
    <div class="card-footer bg-secondary">
      <div>
        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
      </div>
    </div>
  </div>
  <a asp-action="Index" class=" m-3 home-link-arrow d-inline-flex align-items-center">
    <svg><use xlink:href="/images/main.svg#icon-arrow-left"></use></svg>

    Return to list
  </a>
</div>

<partial name="_ModalDelete" />

@section Scripts {
  <script defer>
    $(function () {
      appns.tasks.details();
    });
  </script>
}