@model IEnumerable<Group>

@if (Model.Any())
{

  <div class="table-responsive-md text-light">
    <table class="table table-striped table-dark table-hover">
      <thead>
        <tr>
          <th class="filterable">
            <div>Name</div>
          </th>
          <th class="filterable">
            <div>Phase Start Date</div>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
          <tr>
            <td>
              @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>@(item.PhaseStartDate)</td>
            <td>
              <div class="d-flex align-content-center">
                <a class="icon-button mr-1 ml-1" asp-controller="Groups"
                   asp-action="Details" asp-route-id="@item.Id"
                   data-toggle="tooltip" data-placement="top" title="View">
                  <i class="material-icons">search</i>
                </a>
                <a class="icon-button mr-1 ml-1" asp-controller="Groups"
                   asp-action="Edit" asp-route-id="@item.Id"
                   data-toggle="tooltip" data-placement="top" title="Edit">
                  <i class="material-icons">edit</i>
                </a>
                <span data-toggle="tooltip" class="icon-button--delete mr-1 ml-1" data-placement="top" title="Unlink">
                  <button class="icon-button--unlink" type="button"
                          data-toggle="modal" data-target="#unlinkGroupModal"
                          onclick="appns.mils.unlinkGroup(@item.Id, this)">
                    <i class="material-icons">link_off</i>
                  </button>
                </span>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}
else
{
  <div class="alert alert-info">
    <p>No groups have been assigned to this phase.</p>
  </div>
}