@model IEnumerable<Pen>

@{
    ViewBag.Title = "Pens";
}

<partial name="_UpdateMessage" />

<h1 class="text-light mb-3">Pens</h1>

@if (Model.Any())
{
  <div class="table-responsive-md text-light">
    <table id="penTable" class="table table-striped table-dark table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Feed</th>
          <th>MILS Phase</th> 
          <th></th>
        </tr>
      </thead>
      <tbody>
        @foreach (var enc in Model)
        {
          <tr>
            <td>@enc.Name</td>
            <td>@(enc.Feed?.Name ?? "None")</td>
            <td>@(enc.MilsPhase?.Activity ?? "None")</td>
            <td>
              <div class="d-flex align-content-center">
                <a class="icon-button mr-1 ml-1" asp-action="Details" asp-route-id="@enc.Id"
                   data-toggle="tooltip" data-placement="top" title="View">
                  <i class="material-icons">search</i>
                </a>
                <a class="icon-button mr-1 ml-1" asp-action="Edit" asp-route-id="@enc.Id"
                   data-toggle="tooltip" data-placement="top" title="Edit">
                  <i class="material-icons">edit</i>
                </a>
                <span data-toggle="tooltip" class="icon-button--delete mr-1 ml-1" data-placement="top" title="Delete">
                  <button class="icon-button--delete" data-user-id="@enc.Id"
                          type="button" data-toggle="modal" data-target="#deleteModal">
                    <i class="material-icons">delete</i>
                  </button>
                </span>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
    <a class="mt-2 btn btn-primary" asp-action="Create">Add pen</a>
  </div>
}
else
{
  <div class="alert alert-info">
    <p>No items are currently registered.</p>
    <a class="mt-2 btn btn-primary" asp-action="Create">Add pen</a>
  </div>
}

<partial name="_ModalDelete" />

@section Scripts {
  <script defer>
    $(function () {
      appns.pen.index();
    });
  </script>
} 