@model IEnumerable<SkaapBoek.Core.TaskTemplate>

@{
  ViewData["Title"] = "Index";
}

<h1 class="text-light mb-3">Templates</h1>

<div class="table-responsive-md text-light">
  <table id="datatable" class="table table-dark table-hover table-striped">
    <thead>
      <tr>
        <th class="filterable">
          <div>@Html.DisplayNameFor(model => model.Name)</div>
        </th>
        <th class="filterable">
          <div>@Html.DisplayNameFor(model => model.Description)</div>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
        <tr>
          <td>
            @Html.DisplayFor(modelItem => item.Name)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Description)
          </td>
          <td>
            <div class="d-flex align-content-center">
              <a class="icon-button mr-1 ml-1" asp-action="Details" asp-route-id="@item.Id"
                 data-toggle="tooltip" data-placement="top" title="View">
                <i class="material-icons">search</i>
              </a>
              <a class="icon-button mr-1 ml-1" asp-action="Edit" asp-route-id="@item.Id"
                 data-toggle="tooltip" data-placement="top" title="Edit">
                <i class="material-icons">edit</i>
              </a>
              <span data-toggle="tooltip" class="icon-button--delete mr-1 ml-1" data-placement="top" title="Delete">
                <button class="icon-button--delete" data-user-id="@item.Id"
                        type="button" data-toggle="modal" data-target="#deleteModal">
                  <i class="material-icons">delete</i>
                </button>
              </span>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
  <div class="mt-3">
    <a asp-action="Create" class="btn btn-primary">Create New</a>
  </div>
</div>

<partial name="_ModalDelete" />

@section Scripts {
  <script>
    document.addEventListener("DOMContentLoaded", () => appns.templates.list());
  </script>
}