@model GroupTableModel

@if (Model.Groups.Any())
{

  <div class="table-responsive-md text-light">
    <table class="table table-striped table-dark table-hover">
      <thead>
        <tr>
          <th class="filterable">
            <div>Name</div>
          </th>
          @if (!Model.HideMilsData)
          {
            <th class="filterable">
              <div>Pen</div>
            </th>
            <th class="filterable">
              <div>MILS Phase</div>
            </th>
          }
          <th class="filterable">
            <div>Phase Start Date</div>
          </th>
          <th class="filterable">
            <div>Phase End Date</div>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model.Groups)
        {
          <tr>
            <td>
              @Html.DisplayFor(modelItem => item.Name)
            </td>
            @if (!Model.HideMilsData)
            {
              <td>@(item.Pen?.Name.ToString() ?? "None")</td>
              <td>@(item.MilsPhase?.Activity ?? "None")</td>
            }
            <td>@(item.PhaseStartDate)</td>
            <td>@(item.PhaseEndDate)</td>
            <td>
              <div class="d-flex float-right">
                <div class="btn-group icon-button--action">
                  <span class="material-icons" data-toggle="dropdown" data-boundary="window"
                        aria-haspopup="true" aria-expanded="false">
                    more_vert
                  </span>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" asp-controller="Groups"
                       asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="dropdown-item" asp-controller="Groups"
                       asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="dropdown-item" href="/Tasks/Group/@item.Id/Create">New Task</a>
                    <a class="dropdown-item bg-danger text-light"
                       data-user-id="@item.Id" data-toggle="modal" data-target="#deleteModal">Delete</a>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}
else
{
  <div class="alert alert-info">
    <p>No groups have been assigned to this phase.</p>
  </div>
}